
<div class="main">

   
<div class="packbox">
  
   
  <div class="statbox"> 
  <input type ="text" #PackInput [(ngModel)]="Searchkey" (input)="Search()" class="searchbar" placeholder="Search..."/>
  </div><button class="btn-create-C" (click)="toCreatePack()">Create Pack</button> 
  <li class="boxes" *ngFor="let pack of Packs" (click)="onSelect(pack)">
      <span>{{pack.name + " | " + pack.languages.from }} <mat-icon class="mat-icon-16">
        arrow_right_alt
        </mat-icon>{{" "+ pack.languages.to + " |  Public: " }}
        <mat-icon *ngIf="pack.public" class="mat-icon-24">check_circle</mat-icon>
        <mat-icon *ngIf="!pack.public" class="mat-icon-24">unpublished</mat-icon>
      </span>
  </li>
  
</div>
<div @Selected class="Listbox" *ngIf="SelectedPack">
    <div class="statbox"><p><label >{{" Details of "+ SelectedPack.name + " pack" }}</label>
      <mat-icon class="mat-icon-36" (click)="onSelect(SelectedPack)">highlight_off</mat-icon></p></div>
    <li class="boxes">{{"Translate " + SelectedPack.languages.from}}<mat-icon class="mat-icon-16">
      arrow_right_alt
      </mat-icon>{{SelectedPack.languages.to}}</li>
    <li class="boxes" *ngFor="let Word of SelectedPack.words">
      <span> {{Word.id +". "+  Word.from }}<mat-icon class="mat-icon-16">
        arrow_right_alt
        </mat-icon>{{" "+ Word.to }}</span>
    </li>
</div>

</div>