<div class="main">
    <div>
        <h1>Statistics</h1>
        <div class="packbox">
        <div class="statbox">Statistic:</div>
        <li class="boxes" *ngFor="let stat of statsList" (click)="onSelect(stat)">
            <span>{{"Stats from Pack " + stat.name}} </span>      
        </li>
      
    </div>
    <div @Selected class="Listbox" *ngIf="Selectedstat; else elseBlock">
        <div class="statbox">{{"Stats from Pack " + Selectedstat.name}}</div>
        <div class="statbox">
        <p>{{"Words: "+ Selectedstat.all }}
        {{"Correct: " + Selectedstat.correct }}
        {{"Wrong: " + (Selectedstat.all - Selectedstat.correct)  }}</p> 
        </div>
        <div class="fillbox"><div class="fillbar" [ngStyle]="{'width':percentage+'%'}">{{Selectedstat.perc | number: '1.0-0'}}%</div></div>
        <!--<p>Words:</p>
        <li class="boxes" *ngFor="let answers of Selectedstat.words" [ngStyle]="!answers.correct && {'background-color':'#C2413F', 'color':'black'}" >
            <span >{{answers.wordFrom + " -> " + answers.wordTo}}  </span>
        </li>!-->
    </div>
    <ng-template #elseBlock>
        <div class="Listbox"> 
            <div class="statbox">Click on a specific statistic</div>
        </div>
    </ng-template>
</div>