.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #73c6b6;
    color: #2c3e50;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

.packbox{
    left: 28%;
    padding: 5px 10px 5px;
    position: absolute;
    align-items: center;
    background: #73C6B6;
    
    box-sizing: border-box;

    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align:center
    
}
.Listbox{
    left: 55%;
    position: absolute;
    align-items: center;
    background: #73C6B6;
    box-sizing: border-box;
    padding: 5px 10px 5px;
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align:center;
    transition: ease-in-out;
    animation: fade 300ms linear forwards;
}

@keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }


.fillbar{
    display: flex;
    align-items: center;
    width: 13%;
    height: 100%;
    min-width: 2%;
    max-width: 97%;
    border-radius: 1em;
    padding-left: 10px;
    text-align: center;
    background-color: #247c50;
}

.fillbox{
    width: 352px;
    height: 35px;
    left: 13px;
    top: 254px;
    padding: 5px;
    margin: 5px 0px 0px 5px;
    border-radius: 1em;
    background: #D0ECE7;
    border: 1px solid #000000;
    color: #000000;
}
.statbox{
    width: 352px;
    height: 70px;
    left: 13px;
    top: 254px;
    padding: 5px;
    margin: 5px 0px 0px 5px;
    border-radius: 1em;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D0ECE7;

    border: 1px solid #000000;
    
}


.boxes{
    width: 352px;
    height: 35px;
    left: 13px;
    top: 254px;
    padding: 5px;
    margin: 5px 0px 0px 5px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D0ECE7;

    border: 1px solid #000000;
    
}

.boxes:hover{
    transform:translate(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}